<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiyayaya.shopmanage.mapper.CategoryMapper">

<!--    <select id="getAllCategory" resultType="com.yiyayaya.shopmanage.entity.Category-->
<!--        select category_id,-->
<!--    </select>-->

    <select id="selectSubCategoryByCategoryId" resultType="com.yiyayaya.shopmanage.entity.Subcategories">
        SELECT category_id AS categoryId, name, description, parent_id AS parentId
        FROM subcategories
        WHERE parent_id = #{parentId}
    </select>

    <select id="selectCategoryWithSubCategory" resultType="map">
        SELECT c.category_id AS categoryId, c.name AS categoryName, 
               s.id AS subcategoryId, s.name AS subcategoryName
        FROM categories c
        LEFT JOIN subcategories s ON c.category_id = s.category_id
        WHERE c.name LIKE CONCAT('%', #{name}, '%')
        ORDER BY c.category_id, s.id;
    </select>

</mapper>
